# Grafana configuration
GF_PLUGINS_PREINSTALL="grafana-github-datasource"
GF_INSTALL_PLUGINS="grafana-github-datasource,yesoreyeram-infinity-datasource"

# GitHub datasource configuration (Option 1: PAT)
GITHUB_TOKEN="your_github_token"

# GitHub datasource configuration (Option 2: GitHub App)
GITHUB_APP_ID=""
GITHUB_APP_INSTALL_ID=""
GITHUB_APP_PRIVATE_KEY=""

ES_HOST="your_elasticsearch_host"
ES_PORT="your_elasticsearch_port"
